* {
  margin: 0;
  padding: 0;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #676767;

body {
font: 100% $font-stack;
color: $primary-color;
}
#pageNumber {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 141px;
    height: 1200px;
    font-size: 123px;
    font-weight: 100;
    color:$primary-color;
    text-align: right;
    background-color: #e3e3e3;
    background-image: url('https://i.pinimg.com/564x/a0/7e/bd/a07ebd32b489dcf01905f35d0f73b306.jpg');
    background-attachment: fixed;
}

#kolomrechts {
  position: fixed;
  top: 0px;
  left: 70vw;
  width: 300px;
  float: left;
  border-left: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 200px;
  padding-bottom: 32000px;
  margin-bottom: -32000px;
}

#footer{
  position: relative;
  top: 100px;
  left: 40%; 
  padding-left: 0px;
  color:$primary-color;
  font-size: 60%;
}

#navTitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $primary-color;
  text-align-last: center;
}

#p{
  color:$primary-color;  
  &letra{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    //text-transform: lowercase;
    margin-bottom: 15px;

  }

}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4 px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }
}


#subtitulo{
  font-size: 14px;
  text-transform: lowercase;
  color: #9D9EA0;
  margin-top: 10px;
  padding: 0;
  padding-left: 30px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  text-align: left;
  letter-spacing: 2px;

}  
%message {
    position: left;
    top: 660px;
    font-family: $font-stack;
    font-size: 18px;
    font-weight: 300;
    margin: 30px;
}

.success {
    @extend %message;
    background-color: rgb(236, 243, 234);
} 

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  #pageNumber {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 141px;
    height: 1200px;
    font-size: 123px;
    font-weight: 100;
    color:$primary-color;
    text-align: right;
    background-color: #e3e3e3;
    background-image: url('https://i.pinimg.com/564x/a0/7e/bd/a07ebd32b489dcf01905f35d0f73b306.jpg');
    background-attachment: fixed;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    
  }
  #pageNumber {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 141px;
    height: 1200px;
    font-size: 123px;
    font-weight: 100;
    color:$primary-color;
    text-align: right;
    background-color: #e3e3e3;
    background-image: url('https://i.pinimg.com/564x/a0/7e/bd/a07ebd32b489dcf01905f35d0f73b306.jpg');
    background-attachment: fixed;
  }
  
}
@media screen and (max-width:992px){
  #kolomrechts{
    display: none;
  }
  #footer{
    display:none;
  }
}